@use "../shared" as *;
@use "../variables" as *;
@use "../animation" as *;

#home {
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    opacity: 0;
    animation: slideInFromBottom 0.8s ease forwards;
    h1,
    h2 {
      font-family: $primary-font;
      font-weight: 600;
    }

    h1 {
      @extend %h1-style;
      color: $primary-text;
      opacity: 0;
      animation: slideInFromBottom 0.8s ease forwards;
      animation-delay: 0.3s;
      span {
        @extend %h1-span-style;
        color: $light-accent;
       
      }
    }

    h2 {
      @extend %h2-style;
      color: $secondary-text;
      line-height: 1.7;
      opacity: 0;
      animation: slideInFromBottom 0.8s ease forwards;
      animation-delay: 0.6s;
      span {
        color: $dark-accent;
      }
    }
    .button {
      position: relative;
      overflow: hidden;
      transition: all 0.3s ease;
      animation: fadeIn 0.8s ease forwards;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(1.4rem, 1.5vw + 0.5rem, 2.2rem);
      color: $primary-background;
      background-color: $dark-accent;
      border-radius: 0;
      padding: clamp(0.4rem, 1vw, 0.8rem) clamp(1.2rem, 3vw, 2.5rem);
      border: 3px solid transparent;
      opacity: 0;
      animation: slideInFromBottom 0.8s ease forwards;
      animation-delay: 0.9s;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          120deg,
          transparent,
          rgba(255, 255, 255, 0.433),
          transparent
        );
        transition: all 0.5s ease;
      }
      i {
         @extend %icon-style;
       }
      &:hover {
        color: $primary-background;
        background-color: transparent;
        border: 3px solid $dark-accent;
        color:$secondary-text;

        &::before {
          left: 100%;
        }
      }
    }
  }
 
}
