%h1-style {
  font-size: clamp(2.2rem, 4vw + 1rem, 6rem);
}

%h2-style {
  font-size: clamp(2rem, 4vw + 1rem, 4rem);
}

%h3-style {
  font-size: clamp(1.5rem, 1.5vw + 0.5rem, 2.5rem);
}

%h4-style {
  font-size: clamp(1.25rem, 1vw + 0.8rem, 2rem);
}

%h5-style {
  font-size: clamp(1rem, 1.2vw + 0.3rem, 1.2rem);
}
%h6-style {
  font-size: clamp(0.6rem, calc(0.6vw + 0.9rem), 0.9rem);
}

%p-style {
  font-size: clamp(0.7rem, calc(0.5vw + 0.8rem), 1rem);
}
%icon-style {
  font-size: clamp(1.5rem, 2vw + 0.6rem, 2rem);
}