// Backgrounds
$primary-background: #121212;
$secondary-background: #131417;

// Text Colors
$primary-text: #f5f1f1;
$secondary-text: #c9c9c9;

//Accent
$light-accent: #83a8ff;
$dark-accent: #3572ff;
$border-accent: #0c4cae;

$light-red: #ff7e7e;
// Fonts
$primary-font: "Poiret One", sans-serif;
$secondary-font: "Montserrat", sans-serif;


$navbar-height: 60px;
