$black: #121212;
$white: #f5f1f1;
$blue: #3572ff;
$red: #ff5f56;
$yellow: #ffbd2e;
$green: #27c93f;
$gray: #495057;

// Fonts
$primary-font: "Poiret One", sans-serif;
$secondary-font: "Montserrat", sans-serif;
