@use "../variables" as *;
@use "../shared" as *;
@use "sass:color";
.topic-page {
  z-index: 100;
  position: relative;
}
.topic-section {
  padding: 4rem 0 2rem;
  min-height: 100vh;
  background-color: color.scale(white, $lightness: 60%);

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
  }

  .algorithm-category {
    color: $black;
    font-weight: 600;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba($black, 0.1);
    font-family: $primary-font;
    @extend %h4-style;
  }

  .topic-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    height: 100%;
    overflow: hidden;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .card-content {
      padding: 1.5rem;

      .card-name {
        color:$gray;
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;
        font-family: $secondary-font;
        @extend %h5-style;
      }

      .complexity {
        p {
          margin: 0.5rem 0;
          color: $gray;
          font-size: 0.9rem;
          font-family: $secondary-font;
         @extend %p-style;
        }
      }
    }
  }

  // Responsive adjustments
  @media (max-width: 768px) {
    .topic-card {
      .card-content {
        padding: 1rem;

        .card-name {
          font-size: 1.1rem;
        }

        .complexity {
          p {
            font-size: 0.85rem;
          }
        }
      }
    }
  }

  @media (max-width: 576px) {
    padding: 1rem 0;

    .algorithm-category {
      font-size: 1.2rem;
    }
  }
}
